body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* video title */
.title {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.video-container {
    position: absolute;
    max-width: 100vw;
    width: 100vw;
    /* height: 100vh;  */
    object-fit: cover;
    grid-column: 1/ span 15;
    grid-row: 1/ span 15;
}

.content {
    z-index: 2;
    grid-column: 5/ span 5;
    grid-row: 6/ span 5;
}

#blue_eyes {
    z-index: 1;
    width: 100vw;

    min-height: 102vh;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: fill;
    margin-right: fill;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

#logo {
    max-width: 50vw;
    max-height: 50vh;
    opacity: 1;
    animation-name: logo;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 10s;
}

@keyframes logo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*-----------------------------*/

/* History section */
#body_text_history {
    position: relative;
    min-width: 100vw;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, .5fr);
    grid-gap: 0;
    padding: 0;
    margin: 0;
}

#card_back {
    min-width: 100vw;
    width: 100vw;
    height: 100%;
    gap: 0;
    z-index: 0;
    padding: 0;
    margin: 0;
}

#image_box {
    grid-column: 1/ span 19;
    grid-row: 1/span 20;

}

.history {
    position: relative;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    grid-column: 1/ span 6;
    color: white;
    z-index: 1;
    font-size: 25pt;
}

#text_box {
    grid-column: 1/ span 20;
    grid-row: 1/span 20;
}

/*-----------------------------*/

/* Nav Section */
.option_nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: black;
    width: 100vw;
}

.main_nav {
    color: white;
    border: 5px solid white;
    padding-top: 30vh;
    padding-bottom: 30vh;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 4vh;
}

#history_nav {
    grid-column: 1/span 2;
    z-index: 1;
}

.main_nav:hover {
    font-size: 5vh;
    padding-top: 28vh;
    padding-bottom: 28vh;
    margin-left: 6vw;
    margin-right: 6vw;
}

a {
    color: white;
}

#gameplay_nav {
    grid-column: 3/span 2;

}

/*-----------------------------*/

/* Section breaks */
#section_break_1 {
    width: 100vw;
    height: 5vh;
    background-image: linear-gradient(to top, transparent, #1e3b70),
    linear-gradient(to right, black, black, black);
    background-size: 100% 100%, 2000% 100%;
}

#section_break_2 {
    width: 100vw;
    height: 3vh;
    background-image: linear-gradient(to top, transparent, black),
    linear-gradient(to right, #daaa72, #ce8444, #af8457);
    background-size: 2000% 100%, 100% 100%;
}

#section_break_3 {
    width: 100vw;
    height: 3vh;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom, transparent, black),
    linear-gradient(to right, #e4ad76, #dc9754, #e4ad76);
    background-size: 2000% 100%, 100% 100%;
}

/*-----------------------------*/

/* Gameplay section */
#game_layout {
    display: grid;
    background: black;
    color: white;
    grid-template-columns: repeat(6, 1fr);
}

#field_container {
    grid-column: 1/ span 3;
    display: flex;
    justify-content: center;
}

#field {
    max-width: 50vw;
}

#game_rules_text {
    padding-left: 2vw;
    padding-right: 1vw;
    grid-column: 4/ span 3;

}

#card_slideshow {
    max-width: 100vw;
    position: relative;
    /*padding: 2vw;*/
    padding: 0;
    margin: 0;
    background: black;
}

.card_slide_container {
    width: 100vw;
    padding: 0;
    margin: 0;
}

.card_slide {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background: black;
}

.card_text {
    background: black;
    color: white;
    grid-column: 4/ span 4;
    margin: 0;
    padding: 0;
    width: auto;
}

.card_container {
    background: black;
    grid-column: 1/ span 3;
    float: left;
    display: flex;
    justify-content: center;
}

.card {
    width: 50%;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #717171;
}

.active {
    background-color: #717171;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*-----------------------------*/

/* Footer Section */
footer {
    background-color: black;
    color: white;
    line-height: 50px;
    text-align: right;
    width: 98vw;
    padding-right: 2vw;
}

@media screen and (max-width: 900px) {
    /* Gameplay section */
    #game_layout {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }

    #field_container {
        grid-row: 2/ span 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    #field {
        width: 50vw;
        object-fit: cover;
    }

    #game_rules_text {
        grid-column: 1/ span 1;
    }

    /*-----------------------------*/

    /* Card slides*/
    .card_slide {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }

    .card_text {
        grid-column: 1/ span 1;
        grid-row: 1/ span 1;

    }

    .card_container {
        grid-column: 1/ span 1;
        grid-row: 2/ span 1;
    }

    /*-----------------------------*/
}