body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.title {
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.video-container {
    position: absolute;
    max-width: 100vw;
    height: 100vh;
    /*max-width: 100%;*/
    object-fit: cover;
}

.content {
    z-index: 2;
}

#blue_eyes {
    z-index: 1;
    max-width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    /*right: 50%;*/
    margin-left: fill;
    margin-right: fill;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

#logo {
    /*min-width: 50vw;*/
    /*min-height: 50vh;*/
    max-width: 50vw;
    max-height: 50vh;
    opacity: 1;
    animation-name: logo;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 10s;
}

@keyframes logo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.body_text {
    min-width: 100vw;
    min-height: 100vh;
}

.body_text {
    position: relative;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
}

#card_back {
    position: absolute;
    min-width: 100vw;
    z-index: 0;
}

#history {
    position: relative;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    /*background: black;*/
    color: white;
    z-index: 1;
    font-size: 25pt;
}

.option_nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    background: black;
}

h1  {
    color: white;
    border: 5px solid white;
    padding-top: 30vh;
    padding-bottom: 30vh;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 4vh;
}

#history_nav {
    grid-column: 1/span 2;
    z-index: 1;
}

h1:hover {
    font-size: 5vh;
    padding-top: 29.5vh;
    padding-bottom: 29.5vh;
}

#history_nav_puzzle {
    z-index: 0;
    position: absolute;
    grid-column: 1/span 2;
    padding-top: 10vh;
    padding-bottom: 30vh;
    margin-left: 5vw;
    margin-right: 5vw;
    max-width: 50vw;
    max-height: 70vh;
}

#gameplay_nav {
    grid-column: 3/span 2;

}


@media screen and (min-width: 1280px) {
    #blue_eyes {
        z-index: 1;
        min-width: 100vw;
        max-height: 100vh;
        position: absolute;
        top: 50%;
        left: 50%;
        /*right: 50%;*/
        margin-left: fill;
        margin-right: fill;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
}